<h1>Please sign up using the form below:</h1>

<form action='/registrations' method="POST">
  <h4><%=flash[:notice]%></h4>
  <label>name</label>
  <br/>
  <input type="text" name="name" placeholder="name">
  <br/>
  <label>email</label>
  <br/>
  <input type="text" name="email" placeholder="email">
  <br/>
  <label>password</label>
  <br/>
  <input type="password" name="password" placeholder="password">
  <br/>
  <input type="submit" value="Sign Up">
</form>
